# Drupal
web/sites/default/settings.php
web/sites/default/files/
web/sites/*/settings*.php

# Composer
vendor/
web/core/
web/modules/contrib/
web/themes/contrib/
web/profiles/contrib/
web/libraries/

# DDEV
.ddev/

# OS
.DS_Store
Thumbs.db
